<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>File Metadata</title>
  </head>
  <body>
      <h1>File Metadata Microservice</h1>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <h2>Upload a file...</h2>
            <input id="inputfield" type="file" name="upfile">
            <input type="submit" value="UPLOAD">
          </fieldset>
        </form>
      </section>
      <hr />
      <p>
        Author: 
        <a href="https://github.com/RasbeeTech/Request-Header-Parser-Microservice">
            RasbeeTech
        </a>
      </p>
  </body>
</html>
